.model-viewer {
  width: 100% !important;
  height: auto !important;
  max-width: 600px !important;
  max-height: 400px !important;
  margin: 0 auto !important; /* Center the model */
}

@media (max-width: 768px) {
  .model-viewer {
    max-width: 400px !important;
    max-height: 300px !important;
  }
}

@media (max-width: 480px) {
  .model-viewer {
    max-width: 300px !important;
    max-height: 250px !important;
  }
}

.userInput.show {
  /* Your styles here */
  width: 400px;
  height: 300px;
}
